@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Silkscreen;
    font-weight: 400;
    outline: none;
}

.navigate{
    background: #333;
    border-bottom: 20px solid #e9c667;
}
.row{
    width: 100%
}
span{
    color: white;
}
.buttons h1{
    font-size: 55px;
    color: lightseagreen;

}
.buttons{
    width: 100%;
    letter-spacing: 2px;
    justify-content: space-around;
    position: relative;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
    display: flex;
}

.buttons li{
    padding: 0 25px;
    list-style: none;
    font-weight: 100;
}

.buttons ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 30px;
}

h2{
    font-size: 30px;
}
.buttons ul li a:hover{
    background-color:lightseagreen;
    transition: ease 0.1s;
}

section {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-image: url(..//img/pattern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 300px 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.gallery h2{
    color: white;
    display: inline-block;
    padding: 10px 10px;
    background-color: lightseagreen;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
